################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Oyun/.vs/Oyun/FileContentIndex/5ce88107-3ea7-40f2-8aed-8196150be633.vsidx
/Oyun/.vs/Oyun/FileContentIndex/b1c0fffe-0f1d-40ce-a51a-ecc70d68f8c8.vsidx
